parameters:
    level: 4
    excludePaths:
        analyseAndScan:
            - src/NetBrothersVersionBundle.php
            - src/DependencyInjection/*

includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
